<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.administrator.stock">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="design_width"
            android:value="375"/>
        <meta-data
            android:name="design_height"
            android:value="667"/>

        <activity android:name=".ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.MainActivity">
        </activity>
        <activity android:name=".ui.activity.RegisterActivity">
        </activity>
        <activity android:name=".ui.activity.ForgetPassWordActivity">
        </activity>
        <activity android:name=".ui.activity.DeclarationActivity">
        </activity>
        <activity android:name=".ui.activity.MessageActivity">
        </activity>
        <activity android:name=".ui.activity.MessageSetActivity">
        </activity>
        <activity android:name=".ui.activity.MemberActivity">
        </activity>
        <activity android:name=".ui.activity.ExpertActivity">
        </activity>
        <activity android:name=".ui.activity.AboutActivity">
        </activity>
        <activity android:name=".ui.activity.SetActivity">
        </activity>
        <activity android:name=".ui.activity.ShareActivity">
        </activity>
        <activity android:name=".ui.activity.InviteActivity">
        </activity>
        <activity android:name=".ui.activity.WalletActivity">
        </activity>
        <activity android:name=".ui.activity.OpenActivity">
        </activity>
        <activity android:name=".ui.activity.SeachActivity">
        </activity>
        <activity android:name=".ui.activity.StrategyActivity">
        </activity>
        <activity android:name=".ui.activity.AiActivity">
        </activity>
        <activity android:name=".ui.activity.SupermarketActivity">
        </activity>
        <activity android:name=".ui.activity.CreateFormulaActivity">
        </activity>
        <activity android:name=".ui.activity.PreferencesActivity">
        </activity>
        <activity android:name=".ui.activity.FunctionActivity">
        </activity>
        <activity android:name=".ui.activity.PreviewActivity">
        </activity>
        <activity android:name=".ui.activity.SimulationActivity">
        </activity>
        <activity android:name=".ui.activity.SelectAccountActivity">
        </activity>
        <activity android:name=".ui.activity.AccountActivity">
        </activity>
        <activity android:name=".ui.activity.AddTacticsActivity">
        </activity>
        <activity android:name=".ui.activity.ManageSiteActivity">
        </activity>
        <activity android:name=".ui.activity.StopActivity">
        </activity>
        <activity android:name=".ui.activity.RuleActivity">
        </activity>
        <activity android:name=".ui.activity.AppointActivity">
        </activity>
        <activity android:name=".ui.activity.TacticsTestActivity">
        </activity>
        <activity android:name=".ui.activity.MatchActivity">
        </activity>
        <activity android:name=".ui.activity.MatchExplainActivity">
        </activity>
        <activity android:name=".ui.activity.CreatMatchActivity">
        </activity>
        <activity android:name=".ui.activity.CreatMatch2Activity">
        </activity>
        <activity android:name=".ui.activity.MatchExplain2Activity">
        </activity>
        <activity android:name=".ui.activity.NewActivity">
        </activity>
        <activity android:name=".ui.activity.NewDetailsActivity">
        </activity>
        <activity android:name=".ui.activity.FeedbackActivity">
        </activity>
        <activity android:name=".ui.activity.ListActivity">
        </activity>
        <activity android:name=".ui.activity.GroupActivity">
        </activity>
        <activity android:name=".ui.activity.ConditionActivity">
        </activity>
        <activity android:name=".ui.activity.RoomActivity">
        </activity>
        <activity android:name=".ui.activity.ChatActivity">
        </activity>
        <activity android:name=".ui.activity.EnterActivity">
        </activity>
        <activity android:name=".ui.activity.PlateActivity">
        </activity>
    </application>

</manifest>